name: Docker tag image

on: push

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        if: startsWith(github.ref, 'refs/tags/')
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
      - name: Build docker image
        env:
          DOCKER_USERNAME: 'boky'
          DOCKER_PASSWORD: '${{ secrets.DOCKER_ACCESS_TOKEN }}'
          DOCKER_BUILDKIT: 1
          DOCKER_CLI_EXPERIMENTAL: enabled
          PLATFORMS: "linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64,linux/ppc64le,linux/s390,linux/sparc,linux/mips,linux/mipsle,linux/mips64p32le,linux/mips64p32,linux/mips64le"
        if: startsWith(github.ref, 'refs/tags/')
        run: ./build-docker.sh -t boky/socketace:$(echo ${GITHUB_REF:10}) --push

  artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.14"
      - name: Create platform-specific builds
        run: |
          echo "go mod download"
          GO111MODULE=on go mod download -x
          echo "./build-all.sh"
          ./build-all.sh
      - name: Create release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload artifacts
        uses: shogo82148/actions-upload-release-asset@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: socketace-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
